node_modules
.git
.vs
bin
obj
*.user
*.suo
packages
TsMap/bin
TsMap/obj
TsMap.Canvas/bin
TsMap.Canvas/obj
TsMap.Cli/bin
TsMap.Cli/obj
*.mbtiles-journal
web-viewer/react-app/public
web-viewer/react-app/node_modules
*.md
.env
.env.local
